# Python cache
__pycache__/
*.pyc

# Local databases & instance folder
instance/
*.db
*.sqlite3

# Ignore SQL backups, DLLs & local logs
backup_complaints.sql
complaints.txt
libcomplaint.dll
*.dll
*.so
*.o
*.exe

# Environment & Editor
.env
.venv/
.vscode/