# Ignore compiled dynamic libraries
*.dll
*.so
*.o
*.exe

# Ignore Python cache
__pycache__/
*.pyc

# (Optional) Ignore local text database if you want a clean start on GitHub
# complaints.txt
# Ignore local databases & Flask instance folder
instance/
*.db
*.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore legacy txt files (optional)
complaints.txt