--
-- PostgreSQL database dump
--

\restrict HdvLNXFJ7Q2Nt6mzM5yhcpbcWrLcsV5eCWfSlybhz4txQz44nwIDXgHl8RO1GWF

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: complaint_db_ylea_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO complaint_db_ylea_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: complaints; Type: TABLE; Schema: public; Owner: complaint_db_ylea_user
--

CREATE TABLE public.complaints (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    phone character varying(20) NOT NULL,
    category character varying(30) NOT NULL,
    description character varying(100) NOT NULL,
    status character varying(20),
    assigned_team character varying(30)
);


ALTER TABLE public.complaints OWNER TO complaint_db_ylea_user;

--
-- Name: complaints_id_seq; Type: SEQUENCE; Schema: public; Owner: complaint_db_ylea_user
--

CREATE SEQUENCE public.complaints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaints_id_seq OWNER TO complaint_db_ylea_user;

--
-- Name: complaints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: complaint_db_ylea_user
--

ALTER SEQUENCE public.complaints_id_seq OWNED BY public.complaints.id;


--
-- Name: complaints id; Type: DEFAULT; Schema: public; Owner: complaint_db_ylea_user
--

ALTER TABLE ONLY public.complaints ALTER COLUMN id SET DEFAULT nextval('public.complaints_id_seq'::regclass);


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: complaint_db_ylea_user
--

COPY public.complaints (id, name, phone, category, description, status, assigned_team) FROM stdin;
1	Md. Abirul Karim Sarkar	01317972360	IT Support	Laptop er display noshto	Pending	Not Assigned
\.


--
-- Name: complaints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: complaint_db_ylea_user
--

SELECT pg_catalog.setval('public.complaints_id_seq', 1, true);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: complaint_db_ylea_user
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO complaint_db_ylea_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO complaint_db_ylea_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO complaint_db_ylea_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO complaint_db_ylea_user;


--
-- PostgreSQL database dump complete
--

\unrestrict HdvLNXFJ7Q2Nt6mzM5yhcpbcWrLcsV5eCWfSlybhz4txQz44nwIDXgHl8RO1GWF

